@media (max-width: 768px) {
    .logo {
        display: none;
    }
    .header-container__header-list {
        display: none;
    }
    .header-container-button{
        display: none;
    }

    .burger {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 40px;
        padding: 0;
        margin-right: 20px;
    }

    .burger .line {
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        transition: transform 0.3s, opacity 0.3s;
    }

    .header-container {
        display: flex;
        align-items: center;
       justify-content: flex-end;
    }

    .burger__mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
        top: 10px;
        background-color: #d7d8d3;
        width: 170px;
        height: 120px;
        padding: 10px;
        border-radius: 5px;
    }
    .burger__mobile-menu-link{
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }

    .header-container__mobile-menu{
        position: absolute;
        top: 25px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

}