@media (max-width: 768px) {
    .container-inputs {
        display: flex;
        flex-direction: row;
    }
    .container-inputs__input {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        accent-color: #4caf6f;
    }
}

@media (max-width: 480px ) {
    .container-inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container-inputs__input {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        accent-color: #4caf6f;
    }
}