.header-container {
    display: flex;
    background-color: #d9dad5;
}

.logo {
    height: 90px;
    width: 90px;
}

.header-container__header-list {
    display: flex;
    gap: 50px;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.header-button{
    background-color: #ccccca;
    padding: 20px;
    border-radius: 7px;
    border: none;
}

li{
    list-style-type: none;
}

.header-button:hover{
    background-color: #74c74b;
}
