
.recipes-cards__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
    padding-top: 50px;
    border-radius: 10px;
    letter-spacing: 1px;
    position: relative;
}

.recipes-cards__title::before {
    content: "🥄";
    font-size: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1px;
}

.recipes-cards__title span {
    color: #4CAF50;
    font-style: italic;
}

.recipes-cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.card {
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    max-width: 310px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card__recipe-title {
    font-weight: bold;
    color: #333;
    margin: 10px;
    text-align: center;
}

.card__recipe-image {
    width: 310px;
    height: 230px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.card__recipe {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
    padding: 5px;
}

.card__recipe-diets-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
}


.recipes-cards__not-found {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
    padding-top: 50px;
    letter-spacing: 1px;
    position: relative;
}

.recipes-cards__not-found:before {
    content: "🍽️";
    font-size: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1px;
}

.recipes-cards__not-found span {
    color: #ff6347;
    font-style: italic;
}


.title-diets {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50; /* Зелёный цвет */
    margin-bottom: 2px;
    margin-top: 5px;
}

.card__recipe-name-diet {
    font-size: 1rem;
    color: #555;
    list-style: disc;
    padding: 3px;
}

.vegan-diets, .vegetarian-diets {
    font-size: 1rem;
    font-weight: 500;
    color: #555
}


.card__recipe-btn-check {
    background-color: #28a745;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.card__recipe-btn-check:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.card__recipe-btn-check:active {
    background-color: #1e7e34;
    transform: scale(0.95);
}