.container-inputs {
    display: flex;
    gap: 5px;
    margin: 20px 0 20px 20px;
    align-items: flex-start;
    flex-direction: column;
}

.container-inputs__input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: #4caf6f;
}

.container-inputs__label-gluten, .container-inputs__label-ketogenic, .container-inputs__label-vegetarian, .container-inputs__label-vegan {
    display: flex;
    align-items: center;
    cursor: pointer;
    accent-color: #4caf6f;
}


.container-inputs__label-vegan:hover, .container-inputs__label-vegetarian:hover, .container-inputs__label-gluten:hover, .container-inputs__label-ketogenic:hover {
    color: #0e3e06;
}

