.container-inputs {
    display: flex;
    gap: 5px;
    margin: 20px 0 20px 20px;
    align-items: flex-start;
    flex-direction: column;
}

.container-inputs input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: #4caf6f;
}

.container-inputs label {
    display: flex;
    align-items: center;
    cursor: pointer;
    accent-color: #4caf6f;
}

.container-inputs label:hover {
    color: #0e3e06;
}

@media (max-width: 768px) {
    .container-inputs {
        display: flex;
        flex-direction: row;
    }

    .container-inputs__input {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        accent-color: #4caf6f;
    }
}

@media (max-width: 480px) {
    .container-inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container-inputs__input {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        accent-color: #4caf6f;
    }
}
