
.search__container_input-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.search-input-recipe {
    display: block;
    width: 600px;
    padding: 17px 17px;
    font-size: 1rem;
    border: 2px solid #60d44c;
    border-radius: 25px;
    background-color: #c5e499;
    color: #333;
    outline: none;
    transition: 0.3s ease-in-out;
}

.search-input-recipe::placeholder {
    color: #7a7a7a;
}

.search-input-recipe:focus {
    border-color: #dda15e;
    box-shadow: 0 0 10px rgba(221, 161, 94, 0.5);
}

.search__container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-button-recipe{
    padding: 17px 30px;
    border-radius: 7px;
    background-color: #5c3017;
    border-color: #945f42;

}

.search-button-recipe:hover {
    background-color: #f0a877;
    color: #fff;
}

.search-button-recipe:focus {
    border-color: #dda15e;
    box-shadow: 0 0 10px rgba(221, 161, 94, 0.5);
}

.search-button-recipe:active {
    background-color: #dda15e;
    border-color: #dda15e;
}

.search__container_input-btn{
    display: flex;
    align-items: center;
    gap:10px;
}