.instruction-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin:20px 0;
}

.recipe-steps {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 800px;
}

.step {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.step-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4caf50;
}

.step-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 10px;
    color: #555;
}

.section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    color: #444;
}


.ingredient,
.equipment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ingredient img,
.equipment img {
    width: 64px;
    height: 55px;
}


.ingredient span,
.equipment span {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #333;
}

.ingredients-list, .equipment-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section-title{
    margin-bottom: 20px;
}

.recipe-steps-btn{
    cursor: pointer;
    color: white;
    background-color: #0e3e06;
    width: 140px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.recipe-steps-btn:hover{
    background-color: #759f46;
}

.container__recipe-steps{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.recipe-steps-btn-scroll{
    cursor: pointer;
    color: white;
    background-color: #0e3e06;
    width: 140px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.container__recipe-steps-btn-scroll{
    display: flex;
    justify-content: center;
}