.sorting-parameters {
    display: flex;
    gap: 10px;
    margin: 40px 0;
    align-items: center;
    justify-content: center;
}

.label-vegan, .label-vegeterian {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.input-vegeterian {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: #4CAF50; /* Цвет для чекбокса */
}

.label-vegan {
    color: #388E3C;
}

.label-vegeterian {
    color: #FF9800;
}

.label-keta{
    color: #ea1a1a;
}

.label-gluten{
    color: #1a63ea;
}

.label-gluten, .label-keta, .label-vegeterian, .label-vegan{
    display: flex;
    align-items: center
}


.label-vegan:hover, .label-vegeterian:hover {
    opacity: 0.8;
}

.label-vegan input:checked, .label-vegeterian input:checked {
    background-color: #388E3C;
    border-color: #388E3C;
}

.input-vegeterian:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(56, 142, 60, 0.5);
}